= form_for @squid do |f|
  = f.label :name
  = f.text_field :name
  .div
    = f.label :squid_type
    = f.text_field :squid_type
  .div
    = f.label :age
    = f.number_field :age
  .div
    = f.submit
= link_to 'back', squids_path
